[submodule "artifacts/clap-rs"]
	path = artifacts/clap-rs
	url = https://github.com/clap-rs/clap.git
	branch = master
	commit = 194c676f60b916506f94f70decdbf319af5d1ec6
[submodule "artifacts/bevy"]
	path = artifacts/bevy
	url = https://github.com/bevyengine/bevy.git
  commit = bc131614169a1a8d55c401aa3a5a3a737a83f7f1
[submodule "artifacts/bstr"]
	path = artifacts/bstr
	url = https://github.com/BurntSushi/bstr.git
	commit = 8904072067fca9ca993f7234a2dacad1c362afa7
[submodule "artifacts/itertools"]
	path = artifacts/itertools
	url = git@github.com:rust-itertools/itertools.git
	commit = 041c733cb6fbfe6aae5cce28766dc6020043a7f9
[submodule "artifacts/bytes"]
	path = artifacts/bytes
	url = https://github.com/tokio-rs/bytes.git
  commit = f29e93951da599095f54d57667c1988960ceff71
[submodule "artifacts/nalgebra"]
	path = artifacts/nalgebra
	url = https://github.com/dimforge/nalgebra.git
	commit = fa7afd5e47e009742d2f7d50c44af14628fd5322
	
[submodule "artifacts/rayon"]
	path = artifacts/rayon
	url = https://github.com/rayon-rs/rayon.git
	commit = 1c0f3b2d6a4e5c7f8b9d1c8e0f2b3a4b5c6d7e8f9
[submodule "artifacts/rustc-perf"]
	path = artifacts/rustc-perf
	url = https://github.com/rust-lang/rustc-perf.git

[submodule "artifacts/perfcnt"]
	path = artifacts/perfcnt
	url = https://github.com/gz/rust-perfcnt.git
[submodule "artifacts/glam"]
	path = artifacts/glam
	url = https://github.com/bitshifter/glam-rs.git
[submodule "artifacts/polybench-rs"]
	path = artifacts/polybench-rs
	url = https://github.com/JRF63/polybench-rs.git
[submodule "artifacts/perf-event"]
	path = artifacts/perf-event
	url = https://github.com/jimblandy/perf-event.git
