[submodule "artifacts/bevy"]
	path = artifacts/bevy
	url = https://github.com/bevyengine/bevy.git
[submodule "artifacts/bstr"]
	path = artifacts/bstr
	url = https://github.com/BurntSushi/bstr.git
[submodule "artifacts/bytes"]
	path = artifacts/bytes
	url = https://github.com/tokio-rs/bytes.git
[submodule "artifacts/glam"]
	path = artifacts/glam
	url = https://github.com/bitshifter/glam-rs.git
[submodule "artifacts/itertools"]
	path = artifacts/itertools
	url = https://github.com/rust-itertools/itertools.git
[submodule "artifacts/nalgebra"]
	path = artifacts/nalgebra
	url = https://github.com/dimforge/nalgebra.git
[submodule "artifacts/perf-event"]
	path = artifacts/perf-event
	url = https://github.com/jimblandy/perf-event.git
[submodule "artifacts/perfcnt"]
	path = artifacts/perfcnt
	url = https://github.com/gz/rust-perfcnt.git
[submodule "artifacts/rayon"]
	path = artifacts/rayon
	url = https://github.com/rayon-rs/rayon.git
[submodule "artifacts/rustc-perf"]
	path = artifacts/rustc-perf
	url = https://github.com/rust-lang/rustc-perf.git
